fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
SQLAlchemy
asyncpg
psycopg2-binary
aiosqlite
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
boto3
botocore
aiobotocore
httpx
email-validator
redis
slowapi
tenacity
pypdf
python-docx
openpyxl
python-pptx
pandas
numpy
faiss-cpu
loguru
prometheus-client
websockets
jinja2
aiofiles
O365
bleach
flashrank
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
